* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

body {
    background-color: beige;
}

/*Navigasi Bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #409245;
    padding: 15px 30px;
}

.navlogo {
    font-size: 28px;
    color: white;
    font-weight: bold;
    margin-left: 50px;
}
.navmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navmenu li {
    display: inline;
}
.navmenu li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    transition: background-color 0.3s;
}
.navmenu li a:hover {
    background-color: #b4e85f;
}

/*Background-Image*/
.background {
    height: 50vh;
    width: 100%;
    background-image: url(Images/Camp\ Header.jpg);
    background-size: cover;
    background-position: center;
    opacity: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Border*/
.background h2 {
    color: whitesmoke;
    padding: 20px 25px;
    border: 5px double white;
    font-size: 30px;
}

/*Box Model*/
.deskripsi {
    position: relative;
    padding: 30px;
    border: 30px solid #79b97d;
    border-radius: 12px;
    overflow: hidden;
    background-color: #b4e1b7;
    width: 900px;
    margin: 50px auto;
    justify-content: center;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    word-spacing: 1.5px;
}

/*Paket Rent Tenda*/
.paket {
    background-color: #4fa754;
    padding: 20px 50px;
    margin: 0;
    text-align: center;
}
.paket h1 {
    text-shadow: 1.5px 1.5px 3px whitesmoke;
    font-size: 30px;
}
.jenis-tenda {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}    
.tenda {
    background-color: #c9dfca;
    padding: 1.5em;
    width: 200px;
    text-align: center;
}
.tenda img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}

/*Link Tenda*/
.tenda a:visited {
    color: #215927;
}
.tenda a:hover, .tenda a:active {
    background-color: #b4e85f;
    color: #409245;
}

/*Tabel Spesifikasi Paket*/
table {
    border-collapse: collapse;
    font-size: 14px;
    justify-content: center;
    display: flex;
}
th, td {
    border: 1.5px solid #409245;
    text-align: center;
    padding: 15px;
}
th {
    background-color: #4fa754;
}
ul {
    margin: 0;
    padding-left: 20px;
    list-style: circle;
}
tr:hover {
    background-color: #b4e85f;
}

/*Formulir Pemesanan*/
.formulir {
    border-color: #409245;
    background-color: beige;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;   
}
/*Outline*/
.formulir h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 90%;
    color: #2a5f2d;
    outline-style: groove;
    outline-color: #b4e85f;
    padding: 15px;
    background-color: #c9dfca;
}
.masukan input {
    display: flex;
    text-align: left;
    margin-bottom: 10px;
}
.masukan label {
    text-align: left;
    font-size: 14px;
}
input {
    margin-top: 10px;
    margin-bottom: 45px;
}

/*Alamat*/
footer {
    background-color: #4fa754 ;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    gap: 20px;
}

.footer-content div {
    flex: 1;
}

.alamat {
    font-size: 16px
}

/*Icons*/
.media-sosial {
    margin-bottom: 25px;
    font-size: 15px;
}
.fa-brands.fa-instagram.fa-2x {
    color: #edf5ee;
    padding-right: 12px;
    padding-top: 10px;
    margin-left: 15px;
}
.fa-brands.fa-youtube.fa-2x {
    color: #edf5ee;
    padding-right: 12px;
    padding-top: 10px;
}
.fa-brands.fa-tiktok.fa-2x {
    color: #edf5ee;
    padding-right: 12px;
    padding-top: 10px;
}

/*Nama*/
.copyright p {
    font-size: 15px;
}

