table {
    border-collapse: collapse;
    font-size: 15px;
    justify-content: center;
    display: flex;
}

th, td {
    border: 1.5px solid rgb(117, 169, 189);
    text-align: center;
    padding: 8px;
}

th {
    background-color: skyblue;
}

form input {
    border-color: rgb(118, 194, 224);
    background-color: beige;
    justify-content: center;
    display: flex;
}


